@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;600;700&display=swap");

body {
  /* font-family: helvetica, arial, sans-serif;*/
  /*margin: 1em;*/
   /*text-align: center;*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

header {
  height: 100px;
  background: white;
  width: 100%;
  z-index: 12;
  position: fixed;
}

/* nav bar */

nav {
  float: right;
  line-height: 90px;
  width: 50%;
}

nav a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  font-size: 15px;
  margin: 0 10px;
  color: darkcyan;
}
nav a:hover {
  border-bottom: 4px rgb(55, 54, 139) solid;
}

nav .btn {
  font-size: 12px;
  border-radius: 4px;
  font-weight: 600;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white; /*text color */
  margin: 4px 2px;
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
  line-height: 160%;
  font-family: "Work Sans", sans-serif;
}

/* logo */
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
   margin-left:130px;
}

.logo .logo_hyf {
  width: 140px;
  height: 88px;
}


/*Motto*/
.motto {
  background-image: url("images/motto.jpg");
  background-size: cover;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  z-index: 1;
}

.motto ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0px;
  left: 0px;
  z-index: -1;
}

:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

.motto-text {
  display: flex;
  margin: 60px 0px 30px;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.motto h1 {
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: none;
}
/*business-partners-logo*/
.business-partners-logo {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 0px;
}
.business-partners-display {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: inline-block;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 170px;
  z-index: 0;
  position: static;
  background: none 0% 0% / auto transparent;
  flex: 0 1 170px;
  margin: 0px;
  padding: 0px;
}
.partners-text {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  background-color: transparent;
  color: rgb(74, 80, 187);
}
.partners h2 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}
